<div class="hello">
	<h1>みどり合同会社</h1>

	<img :src="image_src" class="example1">

	<p>

		<a href="http://localhost:8080/#/" target="_blank" rel="noopener">ようこそ！</a>.
	</p>

	<p>
		当社はみどりに関するキャラクタービジネス、また仮想通貨に関する勉強会を運営している会社になります。
	</p>
	<h3>概要</h3>
	<ul>
		<li><a href="https://www.youtube.com" target="_blank" rel="noopener">babel</a></li>
	</ul>
	<h3>Links</h3>
	<ul>
		<li><a href="https://vuejs.org" target="_blank" rel="noopener">Core Docs</a></li>

	</ul>
	<h3>Contact</h3>
	<ul>
		<li><a href="https://router.vuejs.org" target="_blank" rel="noopener">ツイッター</a></li>

	</ul>
</div>
